/* shared styles */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    max-width: 1140px ;
    padding: 0;
    margin: auto;
    box-sizing: border-box;

}

.section-title{
  font-size: 3.1rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.section-description{
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
    
}

/* navbar related styles */
.navbar{
    display: flex;
    gap: 509px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px; 
}

.nav-items, .nav-item{
    display: flex;
    gap: 48px;
    align-items: center;
  
}

.nav-item1{
  font-weight: 700;
  color: rgb(37, 36, 50);
}

.nav-item2, .nav-item3{
  font-weight: 400;
  color: rgb(137, 135, 161);
}

.nav-item4{
  font-weight: 400;
  color: rgb(0, 0, 0);
}


/* banner related styles */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.banner img{
  width: 100%;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;
  line-height: 89px;
}

#fresh-flower{
  color: rgb(233, 90, 8);
}

.banner-description{
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
 
}

/* our plants section */
.plants-card-title{
  text-align: center;
  margin: 49px 0;
  align-items: center;
}

.plants-card-container-1{
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  align-items: center;
}

.plants-card-container-2{
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

.plants-item{
    align-items: center;
    justify-content: center;
}

.plants-item img{
  width: 100%;
}

.plant-name{
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 30px;
}

.price{
  font-size: 1.4rem;
  font-weight: 700;
}

.btn{
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  padding: 25px 80px;
  border: none;
  margin: 30px 0;
  font-size: 16px;
}



/* responsive styles */

@media screen and (max-width: 576px) {
  
  *{
    margin: 0px;
    /* width: 100%; */
  }

  /* navbar related */
  .navbar{
    gap: 200px;
    margin: 10px 10px;
  }
  .nav-item{
    display: none;
  }
  

  /* banner related */
  .banner{
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
  }

  .banner-right{
    order: 1;
    width: 100%;
  }
  
  .banner-left{
    order: 2;
    margin: 5px
  }

  /* our plants section */
    .plants-card-container-1{
     grid-template-columns: repeat(2,1fr);
     margin: 0 10px;
    }
    .plants-card-container-2{
     grid-template-columns: repeat(2,1fr);
     margin: 0 10px;
    }


}